

    <head>


    <div class="col-xs-4 col-xs-offset-4"><br>

      <%= form_for @user, :html => {:class => "form-signin", :role => "form"} do |f| %><br>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <h2 class="form-signin-heading">Please sign up</h2><br>
        <%= f.text_field :email, :class => 'form-control' %><br>
        <%= f.password_field :password, :class => 'form-control' %><br>
        <%= f.password_field :password_confirmation, :class => 'form-control' %><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <% end %>

    </div> <!-- /container -->

</head>


 

