

    <head>


    <div class="col-xs-4 col-xs-offset-4"><br>

      <form class="form-signin" role="form"><br>
        <h2 class="form-signin-heading">Please sign up</h2><br>
        <input type="email" class="form-control" placeholder="Email address" required autofocus><br>
        <input type="password" class="form-control" placeholder="Password" required><br>
        <input type="password" class="form-control" placeholder="Password Confirmation" required><br>
      <!--   <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me -->
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> <!-- /container -->

</head>

<!--
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
 -->

