<h1>Posts</h1>
 
<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      <blockquote>
        <p><%= post.subject %></p>
        <small><%= post.body%></small>
      	<small><%= post.token%></small>
      	<small><%= post.host%></small>
      	<small><%= post.email%></small>
      	<small><%= post.full%></small>
      	<small><%= post.name%></small>
      	<small><%= post.raw_text%></small>
      	<small><%= post.raw_html%></small>
      	<small><%= post.raw_body%></small>
      	<small><%= post.attachments%></small>
      </blockquote>
    <% end %>
<% else %>
  <p><em>Oops, doesn't look like there are any posts yet.</em></p>
<% end %>