<h1>Posts</h1>
 
<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      <blockquote>
        <p>subject: <%= post.subject %></p>
        <p>body: <%= post.body%></p>
      	<p>host: <%= post.host%></p>
      	<p>email: <%= post.email%></p>
      	<p>full: <%= post.full%></p>
      	<p>name: <%= post.name%></p>
      	<p>raw_text: <%= post.raw_text%></p>
      	<p>raw_html: <%= post.raw_html%></small>
      	<p>raw_body: <%= post.raw_body%></p>
      	<p>attachment: <%= post.attachments%></p>
      </blockquote>
    <% end %>
<% else %>
  <p><em>Oops, doesn't look like there are any posts yet.</em></p>
<% end %>