<h1>Posts</h1>

<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      <ul>
      	<h1>Post: <%= post.id %></h1>
        <li>
        	<h2>subject: </h2>
        	<p><%= post.subject %></p>
        </li>
        <li>
        	<h3>body: </h3>
        	<p><%= post.body%></p>
        </li>
      	<li>
      		<h3>host: </h3>
      		<p><%= post.host%></p>
      	</li>
      	<li>
      		<h3>email:</h3>
      		<p><%= post.email%></p>
      	</li>
      	<li>
      		<h3>full: </h3>
      		<p><%= post.full%></p>
      	</li>
      	<li>
      		<h3>name: </h3>
      		<p><%= post.name%></p>
      	</li>
      	<li>
      		<h3>raw_text: </h3>
      		<p><%= post.raw_text%></p>
      	</li>
      	<li>
      		<h3>raw_html: </h3>
      		<p><%= post.raw_html%></p>
      		</li>
      	<li>
      		<h3>raw_body: </h3>
      		<p><%= post.raw_body%></p>
      	</li>
      	<li>
      		<h3>attachment: </h3>
      		<p><%= post.attachments%></p>
      	</li>
        <li>
          <h2> URL: </h2>
          <p><%= post.a_url%></p>
        </li>
      </ul>
    <% end %>
<% else %>
  <p><em>Oops, doesn't look like there are any posts yet.</em></p>
<% end %>
