<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- TO DO: FIX THIS -->

    <title>LEAf</title>

    <!-- Bootstrap core CSS -->


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!--   // <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--   // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

    <!-- <style id="holderjs-style" type="text/css"></style> -->
  </head>
  <!-- NAVBAR
  ================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"> LEAf </a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href=<%= "/users/#{current_user.id}/articles" if current_user %>>Articles</a></li>
                <li><a href="#about">Feed</a></li>
                <li><a href="#contact">Archived</a></li>
                <li><a href=<%= "/users/#{current_user.id}/followees/discover" if current_user %>>Discover</a></li>
                <li class="pull right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">

                        <li><a href="#">   <% if current_user %>
                         <%= link_to "#{current_user.email}", "/users/#{current_user.id}" %>
                           <% else %>
                           <%= link_to "Log in", log_in_path %>
                        <% end %></a></li>
                        <li class="divider"></li>
                        <li><a href=<%= "/users/#{current_user.id}/followees" if current_user %>>Following</a></li>
                        <li><a href=<%= "/users/#{current_user.id}/followers" if current_user %>>Followers</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Account Settings</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">  </a></li>

                        <% if current_user %>
                        <li><a href="/log_out">Logout</a></li>
                        <% else %>
                        <li><a href="/sign_up">Sign up</a>
                        </li>
                        <% end %>
                      </ul>
                  </li>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  <%= yield %>




    <!-- Bootstrap core JavaScript
    ================================================== -->

    <div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" title="" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" data-original-title="Copy to clipboard">
     <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">
       <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1405350815941">
       <param name="allowScriptAccess" value="sameDomain">
       <param name="scale" value="exactfit">
       <param name="loop" value="false">
       <param name="menu" value="false">
       <param name="quality" value="best">
       <param name="bgcolor" value="#ffffff">
       <param name="wmode" value="transparent">
       <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">
      </object>
    </div>

    </body>

      <!-- FOOTER -->
    <footer>

      <div class="col-xs-4 col-xs-offset-4">
      <br></br>
      <br></br>
      <br></br>

        <p><a href="#">Back to top</a></p><p>© 2014 Leaf, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </div>
    </footer>
    <!-- /.container -->



</html>
